body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 95vw;
    min-height: 95vh;
    background: url("../images/background_event.svg");
    background-size: contain;
}

.event-div {
    width: 80%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_div{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.event_1{
    background-color: #FFADAD;
}
.event_1_img_div{
    background-size: cover;
    background-position: center;
    background-image: url("../images/fashion.jpg");
}


.event_2{
    background-color: #FFD6A5;
}
.event_2_img_div{
    background-position: center;
    background-image: url("../images/flair.png");
}


.event_3{
    background-color: #FDFFB6;
}
.event_3_img_div{
    /* background-size: contain; */
    background-position: center;
    background-image: url("../images/art_event.jpg");
}


.event_4{
    background-color: #CAFFBF;
}
.event_4_img_div{
    background-position: center;
    background-size: contain;
    background-image: url("../images/rhetorica.jpg");
}


.event_5{
    background-color: #9BF6FF;
}
.event_5_img_div{
    background-position: center;
    background-image: url("../images/Manic_minute.jpg");
}


.event_6{
    background-color: #A0C4FF;
}
.event_6_img_div{
    background-position: center;
    background-image: url("../images/manic_minute.png");
}


.event_7{
    background-color: #BDB2FF;
}
.event_7_img_div{
    background-position: center;
    background-image: url("../images/shutterbug.png");
}



.event_8{
    background-color: #FFC6FF;
}
.event_8_img_div{
    background-position: center;
    background-image: url("../images/ipl_auction.png");
}


.event_9{
    background-color: #A1FCDF;
}
.event_9_img_div{
    background-size: cover;
    background-image: url("../images/market_raj.jpg");
}


.event_10{
    background-color: #9ADCFF;
}
.houses{
    background-color: #B088F9;
}

.houses > .event-div{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #EEEEEE;
}

.house_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_div{
    margin-top: 20px;
}

.house_img{
    height: 85%;
    width: 85%;
    padding: 20px;
    border:solid;
    border-width: 5px;
}

.red{
    border-color: #D72323;
}

.yellow{
    border-color: #F6F54D;
}

.green{
    border-color: #5FD068;
}


hr{

    height: 0px;
    border: dotted;
    border-bottom: 0px;
    border-width: 8px;
    width: 100%;
    border-color:  #9ADCFF;
    background-color: white;

}

.team_img{
    vertical-align: middle;
}

.event_img{
    height: 230px;
    width: 90%;
    border-radius: 10px;
}

.vid_team{
    height: 250px;
}

.eh_img{
    height: 300px;
}

@media screen and (max-width : 1000px){
    .btn_class{
        text-align: center;
    }
    .event_img{
        width: 100%;
    }
}

@media screen and (max-width : 750px){
    .event-div{
        margin-top: 15%;
        margin-bottom: 15%;
    }
}